.border-good {
    border-top: 5px solid var(--success) !important
}

.border-medium {
    border-top: 5px solid var(--warning) !important
}

.border-bad {
    border-top: 5px solid var(--danger) !important
}

.border-default {
    border-top: 5px solid var(--secondary) !important
}

 html, body {
    color: #636b6f;
    font-family: 'Roboto', sans-serif !important;
    font-weight: 200;
}

input:focus, select:focus, textarea:focus, .border-custom, .btn-custom {
    border-color: #9408bf !important;
}

input:focus, select:focus, button:focus, textarea:focus, .btn {
    box-shadow: 0 0 0 0.2rem transparent !important;
}

.color {
    color: #9408bf !important;
}

.btn-custom, .btn-outline-custom:hover {
    color: #fff !important;
}

.btn-outline-custom {
    background-color: transparent !important;
}

.btn-custom:hover, .remove:hover {
    opacity: 0.75;
    cursor: pointer
}

.btn:hover {
    transition: 0.2s;
}

.btn-group:first-child {
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

.btn-group:last-child {
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.bg-linear {
    background: linear-gradient(180deg, #9408bf, #c43eed)
}

.bg, .btn-custom, .btn-outline-custom:hover {
    background-color: #9408bf !important;
}

.mh-100 {
    min-height: 100vh;
}

.mw-100px {
    max-width: 100px;
}

.text-decoration-none {
    text-decoration: none !important;
}

.radius {
    border-radius: 15px !important;
}

.input-radius {
    border-radius: 10px;
}

.fixed-bottom {
    position: fixed;
    bottom: 0;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.fade-up {
    animation-name: fadeup;
    animation-duration: 0.5s;
}

.fade-out {
    animation-name: fadeout;
    animation-duration: 0.5s;
}

@keyframes fadeup {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}